*{
    margin: 0;
    padding: 0;
    font-family: Reem Kufi;
}
body{
    background-color: #efefef;
}
.container{
    width: 960px;
    margin:auto;
    background-image: url(../imagens/fundo-teste.png);
}
.titulo{
    height: 110px;
    position: relative;
    margin-bottom: 25px;
}
.titulo-txt{
    position: absolute;
    color: #E36414;
    top: 55px;
    left: 375px;
    font-size: 22px;
    font-weight: normal;
}
.conheca img{
    position: absolute;
    width: 106px;
    top: 20px;
    left: 730px;
}
.cards{
    width: 882px;
    padding-bottom: 30px;
}
.cards img{
    width: 100%;
}
.colunas{
    text-align: center;
    padding-left: 35px;
}
.nome-trufa{
    width: 882px;
    height: 62px;
    background-color: #3CB8B3;
    color: #ffffff;
    line-height: 62px;
    font-size: 28px;
}
.final{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
}
footer{
    height: 500px;
    background-color: #F87C0A;
    position: relative;
}
.footerimg img{
    position: relative;
    height: 372px;
    width: 360px;
    padding-left: 50px;
    padding-top: 50px;
}
footer h3{  /*quem somos*/
    color: #ffffff;
    font-weight: normal;
    font-size: 48px;
    margin-block-start: 40px;
    margin-block-end: 0px;
}
footer h4{   /*clapale doces*/
    color: #ffffff;
    font-weight: normal;
    font-size: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}
footer h5{  /*email*/
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
footer p{  /*siganos */
    color: #ffffff;
    font-weight: normal;
    text-align: justify;
    padding-right: 40px;
    margin-top: 10px;
}
.siga{
    display: flex;
}
#zap{
    position: absolute;
    width: 31px;
    height: 32px;
    top: 357px;
    right: 330px;
}
#insta{
    position: absolute;
    width: 44px;
    height: 32px;
    top: 357px;
    right: 275px;
}
#face{
    position: absolute;
    width: 39px;
    height: 32px;
    top: 357px;
    right: 228px;
}
#fale{
    position: absolute;
    width: 149px;
    height: 52px;
    top: 347px;
    right: 70px;
}
.rodape{
    width: 460px;
}
.rodape img{
    width: 100%;
}
@media screen and (max-width: 600px){
    .container{
        width: 100%;
    }
    .titulo{
        width: 100%;
        text-align: center;
        margin-bottom: 0px;
        height: 80px;
    }
    .titulo-txt{
        position: static;
        color: #E36414;
        font-size: 25px;
        padding-top: 10px;
    }
    .conheca img{
        display: none;
    }
    .colunas{
        display: block;
        padding: 0px 10px 0px 10px;
    }
    .cards{
        width: 100%;
    }
    .nome-trufa{
        width: 100%;
        height: 62px;
        background-color: #3CB8B3;
        color: #ffffff;
    }
    .footerimg img{
        display: none;
    }
}